
/* header part */
.header{
     background-color: bisque;

}
.nav{
    display: flex;
    justify-content: space-around;

}
.head-ti{
     font-size: 30px;
     font-weight: 700;
}
.menu>ul{
    display: flex;
    list-style: none;
    gap: 30px;
    color: black;
    font-weight: 600;
    margin-top: 30px;
}
/* header nav end  */

/* header section start */
.heading-img{
   text-align: center;
}
.brand{
    text-align: center;
}
.new-ti{
   font-size: 40px;
   font-weight: 800;
}
.explore-btn{
   background-color: rgb(249, 164, 5);
   color: white;
   border: none;
   border-radius: 5px;
   padding: 20px;
   font-size: 20px;
   margin-top: 10px;
}
/* text and button end */

/* now do image */
.group-img>img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

/* main body part style */
.imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 0px;
    margin: 50px 100px 30px;
    padding-left: 140px;
   
}
.box img{
    width: 200px;
    height: 200px;
    gap: 20px;

    
}

/* article describe */
.feature{
    display: flex;
    padding:0;
   
}
.descri{
     text-align: left;
     padding-right: 200px;
}
.titl-e{
    font-size: 40px;
    font-weight: 700;
}
.span{
    color: #757575;
}
.ti-tle{
    color: orange;
    font-size: 40px;
    font-weight: 700;
    
}
.para{
    font-size: 18px;
    padding-top: 0px;
}
.more-btn{
    background-color:rgb(249, 164, 5) ;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 20px;
   

}
.more-btn:hover{
    background-color:rgb(243, 181, 65);
}
/* new section start */

.art-icle{
    text-align: left;
}
.head-title{
    padding-bottom: 100px;
    border: none;
    width: 300px;
    height: 150px;
}
.h-ead{
     font-size: 40px;
     font-weight: 800;
}
.box-1{
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 5px whitesmoke;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.pa{
    font-size: 20px;
    font-weight: 700;
}
.gra{}
/* experience article style */
.block{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}
.expern{
      width: 500px;
      height: 800px;
      margin-left: 40px;
      
}
.exper{
     color: white;
     background-color: orange;
     border: none;
     border-radius: 5px;
     padding: 10px;
     position: bottom left;
     text-align: center;
     transform: translate(-0%, -40%);
    


}
.exper:hover{
    background-color: rgb(243, 181, 65);
}
.under-btn{
    font-size: 35px;
    font-weight: 800;
}
/* animation part style */
.anima{
    text-align: left;
     padding-left: 200px;
}
.anima>h3{
     font-size: 20px;
     font-weight: 700;
     
}
.ani-box{
     display: flex;
     padding-left: 200px;
     margin-top: 50px;
}
.icons{
    border: 1px solid orange;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    transition: width 1s, height 1s,transform 1s;
}
.icons>img{
    margin: 5px;
}
.num{
    font-size: 20px;
    padding-bottom: 10px;
    
}
.icons>p{
    padding-bottom: 10px;
}

.icons:hover{
    background-color: #757575;
    box-shadow: 10px 5px 5px 5px gray;
    border: none;
    transform: rotate(360deg);
}

/* section sponspor */

.sponspor{
      text-align: center;
}
.spon{
     text-align: center;
}
.spon h3{
    font-size: 20px;
    font-weight: 500;
}
.company{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.comp{
    filter: grayscale(100%);
}
/* footer start */
.foot{
    background-color: bisque;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.footer-para{
     text-align: center;
     padding-top: 30px;
}

/* footer end */

/* media query */
@media screen and (max-width:576px) {
    .body{
        width: 100%;
    }
    .header{
        background-color: beige;    
   
   }
   .new-ti{
    padding-right: 20px;
   }
    .nav{
        flex-direction: column;
        width: 100%;
        padding: 10px;
        
    }
    
    .head-ti{
        text-align: center;
        padding-top: 10px;
    }
    .brand{
        width: 100%;
        padding: 0 15px 0 15px;
    }
    .brand>p{
        padding-right: 30px;
    }
    .group-img>img{
        width: 100%;
        margin-left: 0;
    }
     .imgs{
        
        padding: 0;
        justify-items: left;
        margin-left: 0;
        
    }
    .box img{
        width: 100%;
        height: 200px; 
        margin-left: 0;
      
       
    }
    .feature{
        flex-direction: column;
     }
    .h-ead{
        font-size: 40px;
        font-weight: 800;
        text-align: left;
    }
   .head-title{
    padding-bottom: 100px;
    border: none;
    width: 180px;
    height: 220px;
    margin-bottom: 50px;
}
    .box-1{
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #b1adad;
    width: 180px;
    height: 220px;
    padding: 10px;
    margin-left: 0;
    background-color: whitesmoke;
    
   } 
     .block{
        flex-direction: column;
        padding: 0;
        width: 100%;
    } 
    .expern{
        width: 210px;
        height: 300px;
        margin-left: 0px;
        
}  
.exper{
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 0px;
    width: 170px;
    height: 150px;
    font-size: 20px;
   
}
.exper:hover{
    background-color: rgb(243, 181, 65);
}
.more-btn:hover{
    background-color:rgb(243, 181, 65);
}

.ani-box{
    flex-direction: column;
    padding: 0;
}
.anima{
    padding: 0;
    margin-top: 20px;
    width: 180px;
    height: 100px;
}
.sponspor{
    width: 100%;
    
}
.company{
    flex-direction: column;
    text-align: center;
    
    
}
.spon,.company{
    text-align: left;
    padding-right: 100px;
}
.comp{
    width: 50px;
}
.foot{
    background-color: beige;
    height: 100px;
    width: 290px;
    margin-right: 20px ;
    margin-bottom: 50px ;
}
.footer-para{
    text-align: center;
    
}

}