/* header part */
.header{
     background-color: bisque;

}
.nav{
    display: flex;
    justify-content: space-around;

}
.head-ti{
     font-size: 30px;
     font-weight: 700;
}
.menu>ul{
    display: flex;
    list-style: none;
    gap: 30px;
    color: black;
    font-weight: 600;
    margin-top: 30px;
}
/* header nav end  */

/* media query */
@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
    }
    .head-ti{
        text-align: center;
        padding-top: 10px;
    }
}