/* header part */
.header{
     background-color: bisque;

}
.nav{
    display: flex;
    justify-content: space-around;

}
.head-ti{
     font-size: 30px;
     font-weight: 700;
}
.menu>ul{
    display: flex;
    list-style: none;
    gap: 30px;
    color: black;
    font-weight: 600;
    margin-top: 30px;
}
/* header nav end  */

/* header section start */
.heading-img{

}
.brand{
    text-align: center;
}
.new-ti{
   font-size: 40px;
   font-weight: 800;
}
.explore-btn{
   background-color: rgb(249, 164, 5);
   color: white;
   border: none;
   border-radius: 5px;
   padding: 20px;
   font-size: 20px;
   margin-top: 10px;
}
/* media query */
@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
    }
    .head-ti{
        text-align: center;
        padding-top: 10px;
    }
    .brand{
        padding: 0 15px 0 15px;
    }
}